* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bottom-bar {
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    background: white;
    border-top: 0.1vh solid grey;
    top: 90vh;
    padding-top: 2.6vh;
    padding-bottom: 2.6vh;
}

.bottom-bar-icons {
    padding-right: 10vw;
    padding-left: 10vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.bottom-bar-icons a{
    text-decoration: none;
    color: grey;
    font-size: 1.2vw;
}

.bottom-bar-icons i {
    font-size: 1.5vw;
}

.bottom-bar-icons a#selected {
    color: #876afa;
}

.content-page {
    padding: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.content-page-top {
    font-size: 1.2vw;
}

.content-page-top p {
    color: #777777;
    font-weight: 600;
}

.flexbox-top {
    display: flex;
    justify-content: space-between;
}

.flexbox-top i {
    font-size: 2.5vw;
}

/* CONTENT PAGE */

.content-page-middle {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.widget-large {
    width: 55vw;
    background-color: rgb(255, 192, 239);
    border-radius: 1vh;
    transition: 500ms;
    box-shadow: 0vw 0vw 2vw rgba(0, 0, 0, 0.363);
}

.widget-large:hover {
    transition: 500ms;
    transform: scale(0.98);
    cursor: pointer;
}

.widget-middle:hover {
    transition: 500ms;
    transform: scale(0.98);
    cursor: pointer;
}

.inside-top-widget-large {
    background-image: url('https://laris-acessorios.netlify.app/imgs/brinco-earcuff-cristal-_1_.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1vh 1vh 0vh 0vh;
}

.inside-top-widget-large-text {
    padding: 2vw;
    position: relative;
    padding-bottom: 1vw;
    font-size: 1vw;
    padding-top: 35vh;
    color: white;
}

.imageiinsidewidget {
    padding: 0.5vw;
}

.imageiinsidewidget img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
}

.apps-info-widlarg {
    display: flex;
    font-size: 0.7vw;
    padding: 1vh;
    padding-left: 0vh;
    padding-right: 0vh;
    align-items: center;
    color: white;
    
}

.iconappwidget {
    display: flex;
    justify-content: space-between;
    border-top: 0.1vw solid rgba(112, 112, 112, 0.253);
    align-items: center;
}


.iconappwidget img {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 1vw;
    object-fit: cover;
    padding: 0.7vw;
}

.button-action-obter {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.2vw;
    
}

.button-action-obter label {
    padding: 0.5vw 2vw 0.5vw 2vw;
    background-color: #6b6a6a81;
    color: white;
    font-weight: 600;
    border-radius: 1vw;
    font-size: 0.9vw;
    cursor: pointer;
}

.button-action-obter label:hover {
    background-color: #49494981;
    transition: 500ms;
}

.inside-bottom-widget-large {
    background: linear-gradient(150deg, rgb(250, 105, 238), rgb(253, 147, 239));
    border-radius: 0vw 0vh 1vh 1vh;
}

.widget-middle {
    background-color: white;
    box-shadow: 0vw 0vw 2vw rgba(0, 0, 0, 0.363);
    border-radius: 1vh;
    width: 25vw;
    padding: 1vw;
    font-size: 0.8vw;
    transition: 500ms;
}

.content-page p#titlewidgetmidle {
    font-weight: 500;
    color: grey;
}

.content-page h1#titlewidgetmidle {
    font-size: 1.5vw;
    
}

.app-wid-middle {
    display: flex;
    font-size: 0.6vw;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.apps-content {
    margin-top: 2vh;
}

.apps-content img {
    width: 4vw;
    height: 4vw;
    border: 0.1vw solid rgb(212, 212, 212);
    border-radius: 0.4vw;
    margin-right: 0.5vw;
}

.leftsidemiddle {
    display: flex;
    align-items: center;
}

.obterwidgetbutton {
    background-color: #d6d6d6;
    color: #876afa;
    padding: 0.3vw 1vw 0.3vw 1vw;
    border-radius: 1vw;
    text-decoration: none;
}

.obterwidgetbutton:hover {
    background-color: #bbbbbb;
    cursor: pointer;
    transform: scale(0.9);
    transition: 500ms;
}

.rightsidemiddle {
    justify-content: center;
    text-align: center;
    width: 5vw;
}

.rightsidemiddle p {
    font-size: 0.6vw;
    margin-top: 0.5vh;
    color: grey;
}