* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bottom-bar {
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: fixed;
    background: white;
    border-top: 0.1vh solid grey;
    top: 90vh;
    padding-top: 2.6vh;
    padding-bottom: 2.6vh;
}

.bottom-bar-icons {
    padding-right: 10vw;
    padding-left: 10vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.bottom-bar-icons a{
    text-decoration: none;
    color: grey;
    font-size: 1.2vw;
}

.bottom-bar-icons i {
    font-size: 1.5vw;
}

.bottom-bar-icons a#selected {
    color: #876afa;
}

.content-page {
    padding: 2vw;
}

.content-page-top {
    font-size: 1.5vw;
}

.content-page-top p {
    color: grey;
    font-weight: 600;
}

.flexbox-top {
    display: flex;
    justify-content: space-between;
}

.flexbox-top i {
    font-size: 2.5vw;
}

/* CONTENT PAGE */

.content-page-middle {
    margin-top: 3vh;
    display: flex;
}

.widget-large {
    width: 55vw;
    background-color: pink;
    border-radius: 1vh;
}

.inside-top-widget-large-text {
    padding: 2vw;
    position: relative;
    padding-bottom: 1vw;
    font-size: 1.5vw;
}

.imageiinsidewidget {
    padding: 0.5vw;
}

.imageiinsidewidget img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
}

.apps-info-widlarg {
    display: flex;
    font-size: 0.9vw;
    padding: 1vh;
    padding-left: 0vh;
    padding-right: 0vh;
    align-items: center;
    
}

.iconappwidget img {
    width: 7vh;
    height: 7vh;
    border-radius: 1vw;
    object-fit: cover;
    padding: 0;
}
.iconappwidget {
    display: flex;
    justify-content: space-between;
    border-top: 0.1vw solid grey;
    align-items: center;
}
.button-action-obter {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.2vw;
    
}

.button-action-obter label {
    padding: 1vh;
    background-color: #f5f5f5;
    color: #876afa;
    border-radius: 1vw;
}